@using OnlineStore.Shared.Models
@using OnlineStore.Client.Components.Abstract
@inject IProductService ProductService

<ProductsFilter Products="products"></ProductsFilter>
<Table>
    @foreach (var product in products)
    {
        <ProductCard Product="product"/>
    }
</Table>

@code {

    private List<ProductDto> products = new();

    protected override async Task OnInitializedAsync()
    {
        products = await ProductService.GetAllAsync();
    }
}