@page "/test"
@using System.Net.Http.Headers
@inject HttpClient HttpClient
<p>
    <InputFile OnChange="@HandleSelected" />
    @if (ImgUrl != null)
    {
        <div>
            <img src="@ImgUrl" class="image-preview" />
        </div>
    }
</p>

@code
{
    public string ImgUrl { get; set; }
    private async Task HandleSelected(InputFileChangeEventArgs e)
    {
        var imageFile = e.File;
        if (imageFile == null)
            return;
        var resizedFile = await imageFile.RequestImageFileAsync("image/png", 600, 600);
        using (var ms = resizedFile.OpenReadStream(resizedFile.Size))
        {
            var content = new MultipartFormDataContent();
            content.Headers.ContentDisposition = new ContentDispositionHeaderValue("form-data");
            content.Add(new StreamContent(ms, Convert.ToInt32(resizedFile.Size)), "image", imageFile.Name);
            content.Add(new StreamContent(ms, Convert.ToInt32(resizedFile.Size)), "image", imageFile.Name);
            var response = await HttpClient.PostAsync("api/upload", content);
            ImgUrl = await response.Content.ReadAsStringAsync();
        }
    }
}
