@if (CreateSizeModel != null)
{
    <h5>Adding new size:</h5>
    <div class="form-group border p-2">
        <EditForm Model="CreateSizeModel" OnValidSubmit="() => AddSize(CreateSizeModel)">
            <DataAnnotationsValidator />
            <label class="d-block" for="InputSizeName">Size name</label>
            <InputText class="form-control" id="InputSizeName" placeholder="Enter size name" @bind-Value=CreateSizeModel.Name autocomplete="off" />
            <ValidationMessage For="@(() => CreateSizeModel.Name)" />
            <button type="submit" class="btn btn-dark mt-1">Add new</button>
        </EditForm>
    </div>

}

@code {
    [Parameter]
    public CreateSizeDto? CreateSizeModel { get; set; }

    [Parameter]
    public EventCallback<CreateSizeDto> OnAddingSize { get; set; }

    private async void AddSize(CreateSizeDto sizeDto)
    {
        if (sizeDto == null)
        {
            throw new Exception("Something went wrong try again");
        }

        await OnAddingSize.InvokeAsync(sizeDto);
    }
}