
html {
    scroll-behavior: smooth;
}

.card col-md-3
{
    width: 500px;
    height: 500px;

}

.card-body{
    transition: background-color ease-in-out 300ms;
}
.card-body:hover{
    background-color: #e9ecef;
}

li:hover {
    background: #212529;
    color: white
}

.info {
    margin-top: 15px;
    transition: all 0.4s ease-out;
    display: none;
}
@keyframes showMe{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}




.img-thumbnail {
    /*max-height: 180px;*/ /* using max-height property*/
    /*max-width: 250px;*/
}

.col-md-2, .jumbotron {
    animation: showMe 2s forwards;
}

#down {
    margin-top: 100%;
    padding-bottom: 25%;
}

.btn-save-changes {
    padding: 1.5rem;
    position: fixed;
    bottom: 1%;
    left: 70%;
}

.spinner {
    border: 16px solid lightgrey;
    border-top: 16px solid #343a40;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 700ms linear infinite;
    top: 40%;
    left: 50%;
    position: absolute;
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}
.nav-link.nav-item {
    color: rgba(0,0,0,.5);
}

    .nav-link.nav-item:hover, .nav-link.nav-item:focus {
        color: rgba(0,0,0,.7);
    }

.selectize-input {
    max-width: 200px;
    display: inline-flex;
}