@using OnlineStore.Shared.Products
@inject IProductService ProductService

<div class= "w-100 mb-4">
    <MudPaper Elevation="4">
        <MudGrid Justify="Justify.Center">
            <MudItem xs="6">
                <MudTextField Variant="Variant.Outlined" @bind-Value="_searchString" DebounceInterval="400" OnDebounceIntervalElapsed="StageFilter" Label="Szukaj"/>
            </MudItem>
            <MudItem Class="mt-3">
                <MudButton Variant="Variant.Outlined" Color="Color.Secondary" OnClick="Reset">Wyczyść</MudButton>
            </MudItem>
        </MudGrid>
    </MudPaper>
</div>

@code {
    [Parameter]
    public EventCallback<string> OnSearchStringChanged { get; set; }

    private string? _searchString = string.Empty;

    private async Task StageFilter(string filter)
    {
        _searchString = filter;
        await OnSearchStringChanged.InvokeAsync(_searchString);
    }

    private async Task Reset()
    {
        _searchString = string.Empty;
        await StageFilter("");
    }
}