@inherits LayoutComponentBase

<Toast></Toast>
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <ErrorBoundary>
        @Body
        </ErrorBoundary>
    </main>
</div>
