@inject IConfiguration configuration

<nav class="navbar navbar-light bg-light border-bottom">
    <div class="container-fluid">
        <div class="nav">
            @* <NavLink class="nav-item nav-link" href="@configuration["MainPageAddress"]" target="child">Home <span class="sr-only">(current)</span></NavLink> *@
            <NavLink class="nav-item nav-link" href="">Home</NavLink>
        </div>

        <AuthorizeView>
            <Authorized>
                <div class="nav" style="margin-right: auto;">
                    <NavLink class="nav-item nav-link" href="create">Dodaj produkt</NavLink>
                    <NavLink class="nav-item nav-link" href="configuration">Zarządzanie produktami</NavLink>
                </div>
                <NavLink class="btn btn-outline-dark my-2 my-sm-0" href="users/logout">Wyloguj</NavLink>
            </Authorized>
            <NotAuthorized>
                <div>
                    <NavLink class="btn btn-outline-dark my-2 my-sm-0" href="accounts/register">Rejestracja</NavLink>
                    <NavLink class="btn btn-outline-dark my-2 my-sm-0" href="users/login">Zaloguj</NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>

	</div>
</nav>